@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root{
    --footer: #ca4c4c;
    --primary: #222831;
    --secondary: #30475e;
    --main-bg: #dddddd;
}

body{
    margin:100px;
    background: var(--primary);
    font-family: "Abel", sans-serif !important;
}
img{
  height:150px;
  width: 150px;
}

.card {
  margin: auto;
  border: 1px solid var(--primary);
}

#top-btn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
}

#coin-select-header {
  background: var(--footer)
}

#crypto-image{
  object-fit: cover;
}

#header {
    height: 200px;
    margin-bottom: 30px;
}
